* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-family: 'Tahoma';
    font-family: 'Minion';
    font-family: 'Roboto';
    font-size: 10px;
}

a,
button,
input,
textarea:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
}

body {
    background: #fefefe;
    color: #000;
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

.header__head {
    background: #af9559;
}

.header__town {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__town a {
    font-size: 1.4rem;
    color: #fff;
    font-family: 'Tahoma';
}

nav {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    color: #fff;
    font-family: 'Tahoma';
    padding: 18px 0;
}

.header__phone {
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
    color: #fff;
    font-family: 'Tahoma';
    align-items: center;
}

.header__menu {
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
}

.header__menu a {
    font-size: 1.4rem;
    color: #fff;
    font-family: 'Tahoma';
}

.header__soc {
    display: flex;
    justify-content: space-around;
    font-size: 1.4rem;
}

.header__soc a:nth-child(1) {
    font-size: 1.4rem;
    color: #fff;
    font-family: 'Tahoma';
    text-decoration: none;
    border-bottom: 1px dotted;
}

.fa,
.fas {
    font-size: 1.4rem;
    margin-right: 10px;
    margin-left: 10px;
}

.header__soc a {
    margin-right: 18px;
}

.header__menu a {
    margin-right: 20px;
}

.header__town a:nth-child(1) {
    text-decoration: none;
    border-bottom: 1px dotted;

}

.header__body {
    padding: 20px 0 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    font-family: 'Tahoma';

}

.header__logo p {
    color: #999999;
    font-size: 1.4rem;
    font-family: 'Tahoma';
    margin-left: 80px;
    margin-top: 10px;
}

.header__search {
    border: 1px solid #919191;
    padding: 15px;
    display: flex;
    justify-content: space-around;
}

.header__search p {
    color: #999999;
    font-size: 1.4rem;
    font-family: 'Tahoma';
    margin-right: 236px;
}

.header__basket {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #919191;
    padding: 15px;
    background: #f1f1f1;
}

.header__basket p {
    color: #999999;
    font-size: 1.4rem;
    font-family: 'Tahoma';
    margin-right: 10px;
}

i.fas:nth-child(2) {
    color: #999;
    font-size: 2rem;
}

.fa-shopping-basket {
    color: #999;
    font-size: 2rem;
}

.header__basket>span:nth-child(3) {
    font-size: 1.4rem;
    font-weight: bold;
    background: #c19d47;
    padding: 2px 6px;
    border-radius: 30%;
}

.header__foot {
    padding: 25px 0;
}

.header__foot ul {
    display: flex;
    justify-content: space-between;
}

.header__foot ul li a {
    font-size: 1.7rem;
    color: #503737;
    margin-right: 29px;
    text-decoration: none;
    font-weight: bold;
}

.header__foot ul li a:last-child {
    margin-right: 0px;
}

.header__foot ul li a:hover {
    color: #c19d47;
}

.header__foot-container {
    border-top: 1px solid #d9d9d9;
}

.slider__wrap{
   padding:121px 0 168px 0;
   z-index: 10;
   position: absolute;
   top: 25%;
   margin-left: 537px;
}
.filter h1{
    text-transform: uppercase;
    color: #fff;
    font-size: 4rem;
    margin-bottom: 25px;
    
}
.filter p{
    font-size: 1.4rem;
    color:#fff;
    line-height: 2.1;
}
.filter h4{
    font-size: 1.7rem;
    color: #999;
    margin-bottom: 20px;
    
}
.filter img{
    height: 464px;
    z-index: 2;
    position: relative;
}
* Слайдер
.slick-slider {
    min-width: 0;
    outline: none;
}

/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}

/* Лента слайдов */
.slick-track {
    display: flex;
    align-items: flex-start;
}

/* Стрелка */
.slick-arrow {
    border: 0;
}

/* Стрелка влево */
.slick-arrow.slick-prev {
    border: 0;
}

/* Стрелка вправо */
.slick-arrow.slick-next {
    border: 0;
}

/* Точки */
.slick-dots {
    border: 0;
    padding: 0;
}

.slick-dots li {

    border: 0;
}

.slick-dots button {
    border: 0;
}

.slider .slick-arrow.slick-disabled {
    opacity: 0.1;
}

/* Конкретный слайдер */
.slider {
    position: relative;
}

/* стрелки */
.slider .slick-arrow {
    position: absolute;
    top: 50%;
    margin: -30px 0px 0px 0px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 60px;
}

.slider .slick-arrow.slick-prev {
    left: 0;
    background: url(../img/sl-arrow_l.svg) 0 0/100% no-repeat;
}

.slider .slick-arrow.slick-next {
    right: 0;
    background: url(../img/sl-arrow_r.svg) 0 0/100% no-repeat;
}

.slider .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .slick-dots li {
    list-style: none;
    margin: 0px 10px;
}

.slider .slick-dots button {
    font-size: 0;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    outline: none;
}

.slider .slick-dots li.slick-active button {
    background-color: transparent;
    border: 1px solid #fff;
} 
